:root {
  --color1: #0e121b;
  --color2: #fffefc;
  --color3: #cbcfd2;
  --color4: #3a68ff;
  --color5: #1b1f28;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #0e121b;
  overflow-x: hidden;
  position: relative;
}


*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}


.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.row2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-block: 60px;
}



.row3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
}

.row3 h2::after {
  width: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
 }

 .grid-container2 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
 }



img {
    width: 100%;
}


h1 {
    color: var(--color2);
    font-size: 43px;
    line-height: 58px;
}

h2,
.afterh2-mobile {
  color: var(--color2);
    font-size: 30px;
    position: relative;
    text-align: center;
}

h2::after,
.afterh2-mobile::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--color4);;
  position: absolute;
  top: 60px;
  right: 42%;
}

.afterh2-mobile::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--color4);;
  position: absolute;
  top: 110px;
  right: 42%;
} 

h3 {
    color: var(--color2);
    font-size: 23.5px;
}

p {
  color: var(--color3);
}



#home, #prices, #catalog, #clients, #blog, #contact, #service, #faq {
  margin-bottom: 200px;
}

/*---------------------header------------------------------------------*/


header {
    background-color: transparent;
    opacity: 0.6;
    z-index: 444;
    margin-bottom: 180px;
    padding-block: 8px;
  }

  .brand-title {
    width: 100px;
  }
  
  
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
  }
  
  
  
  .navbar-links {
    width: 100%;
    display: none;
  }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  
  .navbar-links li {
    list-style: none;
    font-size: 15px;
    padding-block: 11px;
  }

  .navbar-links li a:hover {
    color: var(--color4);
  }

  
  .navbar-links li a {
    text-decoration: none;
    color: var(--color3);
    display: block;
    font-weight: 600;
    transition: 1s;
  }

  
  
  
  .toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
  }
  
  .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
  }
  
  .navbar-links.active {
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }




  /*---------------mainpage------------------*/

  #home {

    background: linear-gradient(90deg, #0e121b, rgba(255,0,0,0) 70.71%),
                linear-gradient(360deg, #0e121b, #203681 70.71%);
    padding-bottom: 180px;
    margin-bottom: 70px;
    position: relative;
    z-index: 2;
  }


  .home-bg-img {
    position: absolute;
    top: 0;
    z-index: -1;
  }


  .text {
    max-width: 800px;
  }

  .home_page-text {
    color: white;
    text-align: center;
    max-width: 1200px;
    margin-inline: auto;
  }

  .home_page-text h1 {
    font-size: 56px;
    margin-block: 25px;
  }

  .home_page-text p {
   letter-spacing: 1px;
   font-size: 15px;
   font-weight: 400;
  }

  .hero {
    width: 100%;
  }

  .service-img {
    width: 100%;
    max-width: 650px;
  }

  .blog-img,
  .us-img {
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
  }


  .hero-buttons {
    display: block;
    margin-inline: auto;
  }
 

  .hero-btn  {
    padding-block: 10px;
    margin-left: 0;
    width: 190px;
    margin-block: 40px;
    background-color: transparent;
    color: white;
    border: 2px solid #ffffff;
    font-weight: 600;
    font-size: 17px;
    border-radius: 4px;
    transition: 0.3s;
  }

  .hero-img {
    width: 85%;
    margin-inline: auto;
    margin-top: 70px;
    border: 1px solid #9075c4;
    border-radius: 10px;
    z-index: 2;
  }

  .hero-img img{
    width: 100%;
    height: 100%;
    z-index: 3;
  }



  .hero-btn:hover {
    color: var(--color2);
    background-color: #9075c4;
    border-color: #9075c4;
  }

   .pricebtn {
    margin-left: 10px;
   }




/*second section--*/


   .services {
    max-width: 540px;
   }


   .services .row {
    margin-bottom: 40px;
   }

   i {
    color: var(--color4);
    font-size: 40px;
    margin-right: 20px;
   }

   i:hover {
    scale: 1.02;
   }



   .services .row {
    align-items: flex-start;
   }


   .underh2-p {
    text-align: center;
    font-size: 19px;
    margin-block: 30px 60px;
   }

   .grid-container div {
    max-width: 400px;
    margin-block: 50px;
    background-color: var(--color5);
    padding: 20px;
    border: 1px solid var(--color5);
    border-radius: 10px;
   }

   .grid-container div:hover {
    border-color: var(--color4);
   }

   .grid-container div * {
    margin-block: 13px;
   }




/*-----third section---------*/

   #clients {
    background-image:
    url('img/bgbg.webp'),
    linear-gradient(to bottom, #0e121b 10%, #383b42 50%, #0e121b 100% );
    padding-block: 95px;
   }

   .client-projects {
    margin-top: 60px;
   }

   .client-project-box {
    width: 80%;
    margin-bottom: 100px;
   }

   .client-project-box:hover {
    scale: 1.02;
   }

   .client-project-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
   }

   .client-projects img {
    width: 90%;
   }

   #clients h2,
   #clients p {
    color: #f9f8fe;
   }

   /*----------4th--------------*/


   .pricecards {
    margin-top: 60px;
   }

  .pricecard {
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
  }

  .pricecard p {
    margin-block: 15px;
  }

  .card-p {
    padding: 10px;
    background-color: var(--color4);
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 1.125rem;
  }

  .card-btn {
    padding-block: 7px;
    width: 130px;
    margin-top: 30px;
    background-color: var(--color4);
    color: white;
    border: 2px solid var(--color4);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 4px;
    transition: 0.3s;
  }

  .card-btn:hover,
  #us .text button:hover {
    background-color: #9075c4;
    color: var(--color2);
    border: 2px solid #9075c4;
  }

  /*---------------*/

  /*-------------------*/

  #grow-with-us {
    background-image: url('img/bgbg.webp'),
    linear-gradient(to bottom, #0e121b 1%, #2a2335 60%, #0e121b 100% );
    margin-bottom: 250px;
    padding-block: 40px;
  }

  .grow-box {
    background-color: transparent;
    width: 80%;
    text-align: center;
    margin-inline: auto;
    border-radius: 10px;
  }







    /*-------------------*/
  
  #contact {
   
    background-image: url('img/bgbg.webp'),
    linear-gradient(to bottom, #0e121b 1%, #203681 50%, #0e121b 100% );
    padding-block: 135px;
  }

  #contact h2,
  #contact h3,
  #contact p,
  #contact i {
    color: white;
  }

   .contact-box {
    width: 300px;
    max-width: 400px;
    margin-block: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 20px 50px;
    border: 1px solid var(--color3);
    border-radius: 10px;
   }

   .contact-box:hover {
    border-color: var(--color4);
   }



  .contact-box h3 {
    margin-block: 10px;
  }

  .contact-box i {
    margin-left: 20px;
  }

  #form-details {
    display: flex;
    align-items: center;
    width: 88%;
    margin: 50px auto;
}

#form-details span {
  color: var(--color2);
}


#form-details form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-details form input,
#form-details form textarea {
    width: 90%;
    background-color: var(--color5);
    padding: 12px 15px;
    margin-bottom: 20px;
    outline: none;
    color: var(--color2);
    font-size: 16px;
    border: 1px solid #333;
}

#form-details input:first-of-type {
  margin-top: 60px;
}


  /*-------------blog---------------*/

  .blog-text p {
    color: var(--color3);
    font-size: 15px;
  }

  .blog-text h3 {
    margin-top: 40px;
  }


  /*----------------------------*/
  #us {
    width: 80%;
    margin-block: 200px;
  }

  #us .text p {
    color: var(--color3);
    font-size: 15px;
    margin-top: 30px;
  }

  #us .text button {
    color: var(--color2);
    background-color: var(--color5);
    border-color: var(--color5);
    width: 200px;
    padding-block: 10px;
    font-size: 15px;
    margin-top: 30px;
  }

  .blog-text h3 {
    margin-top: 40px;
  }


  
/*---------------------- collapsible table ------------------------*/

.main-collapsible {
  background-color: var(--color5);
  color: black;
  width: 100%;
  margin-inline: auto;
  margin-block: 120px 40px;
}

.faq-p {
  margin-top: 30px;
}

.container-collapsible {
  width: 100%;
  margin: 0 auto;
}


.collapsible-button {
  background-color: var(--color5);
  color: var(--color2);
  padding: 25px 15px;
  width: 100%;
  border-bottom: 1px solid #f9f8fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: none;
}





.button-name-collapsible {
  color: var(--color2);
  text-align: left;
  outline: none;
  font-size: 18px;
}

.button-name-collapsible:hover {
  color: var(--color4);
}



.collapsible-button:after {
  content: '\002B';
  color: var(--color2);
  font-weight: bold;
  float: right;
  margin-right: 35px;
  font-size: 24px;
}

.collapsible-button:hover::after{
  color: var(--color4);
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--color5);
  color: var(--color2);
  width: 100%;
  border-bottom: 1px solid #2a2e37;
}


/*--------------footer------------------*/
  

footer {
  background-color: transparent;
  background-image: url("img/bgbg.webp");
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}



.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4 {
  font-size: 15px;
  padding-bottom: 20px;
  color: var(--color2);
}

footer p {
  font-size: 14px;
  margin: 0 0 8px 0;
  color: var(--color2);
 }

 footer a {
  font-size: 14px;
  text-decoration: none;
  color: var(--color3);
  margin-bottom: 10px;
 }

 footer .follow {
  margin-top: 20px;
 }

 footer .follow i {
  color: var(--color4);
  padding-right: 4px;
  font-size: 20px;
 }

 footer .install .row img {
  border: 1px solid var(--color4);
  border-radius: 6px;
  margin-block: 10px;
 }

 footer a:hover,
 footer .follow i:hover {
  color: #9075c4;
 }





 /*--------------------------------extra things--------------------------*/



#loader {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 99999;  
  background: var(--color5);
}

#loader p {  
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  padding: 0;
  margin: 0;
}


#myProgress {
  width: 150px;
  background-color: var(--color3);
  border-radius: 30px;
}

#myBar {
  width: 1%;
  height: 10px;
  background-color: var(--color2);
  border-radius: 30px;
}



/*----------animations------------*/

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(60%);
  transition:ease-out .5s;
}



.hidden2 {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-60%);
  transition:ease-out .5s;
}


.hidden3 {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(-10%);
  transition: ease-out .8s;
}



.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


@media(prefers-reduced-motion) {
  .hidden,
  .hidden2,
  .hidden3 {
    transition: none;
  }
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px; 
  left: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: var(--color5); 
  border-radius: 2px;
  padding: 7px 10px 2px 10px; 
  transition: 0.2s;
}

#backToTopBtn i { 
  font-size: 25px;
  margin: 0;
  color: var(--color3); 
}

#backToTopBtn:hover {
  background-color: var(--color4);
}



.ml3 {
  font-weight: 900;
  font-size: 56px;
}




.ml10 {
  position: relative;
  font-weight: 700;
  font-size: 30px;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}






.ml16,
.ml15,
.ml14,
.ml12  {
  color: var(--color3);
  padding: 40px 0;
  font-weight: 700;
  font-size: 0.82em;
  max-width: 1100px;
  margin-inline: auto;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  text-align: center;
  overflow: hidden;
}

.ml16 .letter,
.ml14 .letter,
.ml15 .letter,
.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

/*----------------------*/


  @media(min-width: 865px) {


    .row {
      flex-direction: row;
      
    }

    .toggle-button {
      display: none;
    }
  
    .navbar {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  
    .navbar-links  {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    .navbar-links li{
      padding: 0 9px;
      position: relative;
      transition: 0.3s;
    }


    .navbar-links li::after {
      content: "";
      position: absolute;
      height: 3px;
      top: 24px;
      left: 0;
      width: 0;
      background-color: var(--color4);
    }

    .navbar-links li:hover::after {
      width: 100%;
      transition: 0.3s;
    }
  
    .navbar-links ul {
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .navbar-links.active {
      flex-direction: row;
    }


    .grid-container {
      grid-template-columns: 1fr 1fr;
    }


    .grid-container2 {
      grid-template-columns: 1fr 1fr 1fr;
    }



     .blog-img,
     .service-img {
      order: 2;
     }

     .hero-img {
      width: 55%;
    }



    h1 {
      font-size: 50px;
  }

  .afterh2-mobile::after,
  h2::after {
    top: 60px;
    right: 48.3%;
  }

  .pricecard {
    width: 40%;
  }




  .client-project-box {
    width: 33%;
  }


  footer {
    padding-inline: 200px;
  }




  /*--------------------------------extra things--------------------------*/

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--color4);
  transition: all 150ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 999;
}

.cursor2 {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: var(--color4);
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .2s, height .2s, opacity .2s;
  z-index: 999;
}

.hover {
  transform: scale(1.5);
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
  }
}

 

@media (min-width:1370px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }
  
